<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages masterPageFile="~/MasterPage.master"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="Pro" connectionString="Data Source=JP-PC;Initial Catalog=ProZameen;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>